#messages {
  list-style-type: none;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.my-message {
  background-color: #d1ffd1;
  text-align: right; /* Align user's messages to the right */
}

.other-message {
  background-color: #f1f1f1;
  text-align: left; /* Align others' messages to the left */
}
