#messages {
  list-style-type: none;
  padding: 0;
  display: flex block;
  flex-direction: column;
  overflow: scroll;
  width: 70vw;
  margin: 0;

}

#messages li {
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  display: block;
  overflow: scroll;
}

.my-message {
  background-color: #9DACFF;
  text-align: right; 
  display: block;
}

.other-message {
  background-color: #F7EEF7;
  text-align: left; 
  display: block;
}
.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.message-date {
  font-size: 0.9em;
  color: #666;
}

.message-body {
  color: #06070E;
  margin-top: 5px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
}
#submit {
  border-radius: 20px;
  border: none;
  width: 100px;
  height: 40px;
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #9DACFF;
}
#submit:hover {
  cursor: pointer;
}